body {
  margin: 0;
  font-family: Arial, sans-serif;

}

nav {
  display: flex;
  justify-content: center;
  border-bottom: 2px solid gray;
  padding: 10px 0;

}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav li {
  margin-right: 40px;
}

nav li:last-child {
  margin-right: 0;

}

nav a {
  text-decoration: none;
  color: black;
  font-weight: normal;
  transition: opacity 0.3s ease;
  opacity: 1;
}

nav a:hover {
  color: #333;
  font-weight: bold;
  opacity: 0.5;
}

#first-screen {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0 50px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: left;
  max-width: 90vw;
}

.image {
  width: 100%;
  max-width: 970px;
  height: auto
}

h1 {
  margin-right: auto;
  font-size: 5vw;
}

#about-me {
  padding: 50px;
  text-align: center;
  background-color: #F6F6F6;
}

#me {
  padding: 15px;
}

p {
  text-align: 18px;
}

h2 {
  font-size: 34px;
}

#skills {
  padding: 50px;
  background-color: #FFFFFF;
  text-align: center;
}

#skills h2 {
  padding: 50px 0 0 0;
  font-size: 34px;
  margin-bottom: 20px;
}


.skill-item {
  display: inline-block;
  margin: 40px;
  text-align: center;
}

.icon1 {
  width: 51px;
  height: 50px;
}

.rating {
  width: 100x;
  height: auto;
}

#portfolio {
  padding: 50px;
  background-color: #F6F6F6;
  text-align: center;
}

.portfolio {
  width: 100%;
  max-width: 970px;
  height: auto;
  margin-bottom: 50px 20px;

}


#portfolio a {
  color: black;
}

#portfolio a:hover {
  color: #333;
}

#fashion-store {
  margin: 40px;
}

#reebok_web {
  margin: 40px;
}

#braun-landing {
  margin: 40px;
}

#contacts {
  padding: 50px;
  background-color: #FFFFFF;
  text-align: center;
}

#button {
  margin: 20px;
  border-radius: 22px;
  width: 180px;
  height: 44px;
  background-color: black;
  color: white;
  border: none;
  text-align: center;
  display: inline-block;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#button:hover {
  background-color: #333;
  transform: scale(1.05);
}

.icon2 {
  width: 40px;
  height: 40px;
  display: inline-block;
  margin: 20px;
}

#contacts p {
  margin: 20px;
  color: #333;
  font-size: 14px;
}